
:root{

  --primary-color: #243B58;
  --bs-body-bg: #f9f8f9;
  --bs-body-font-family: 'Alice', serif;
  --border-left-color: #e2e0e0;
}


/*
    top-header
*/

.header{
  z-index: 3;
  box-sizing: border-box;
}
.bg-color{
  background-color: var(--primary-color);
}
.list-type{
  list-style-type: none;
}
.top_header .left-header .top_col-2{
  line-height: 1.28rem;
  border-left: 1px solid var(--border-left-color);
  font-size: 0.9rem;
}
.top_header .left-header .top_col-2 span{
  margin-left: 4px;
}
.top_header .left-header .top_col-1{
  margin-right: 5px;
}
.top_header .right-header .cf{
  border-left: 1px solid var(--border-left-color);
  color: var(--border-left-color);
  padding: 0 9px;
}

/*
  header-logo

*/

.grayscale { filter: grayscale(100%); }
.contrast { filter: contrast(160%); }
.brightness { filter: brightness(0.25); }
.blur { filter: blur(3px); }
.invert { filter: invert(100%); }
.sepia { filter: sepia(100%); }
.huerotate { filter: hue-rotate(180deg); }
.rss.opacity { filter: opacity(50%); }
.header_wrapper{
    background:var(--bs-body-bg);
}

.header_wrapper .left-logo img{
  padding-top: 0.5em;
}
.right-logo{
  margin: 0 !important;
}
.right-logo li:nth-child(2) img {
  padding-top: 0.5em;
}

.top-nav{
  margin: 0;
  padding: 0;
  background: #243B58;
  width: 100%;
}
.top-nav .nav-menu{
  margin: 0 !important;
  padding: 0.6em;
  gap: 1em;
}
.top-nav .nav-menu .nav-item a{
  color:var(--bs-body-bg);
  text-decoration: none;
  font-weight: 400;
  font-size: medium;
}

.top-nav .nav-menu .nav-item{
  padding:5px 10px 5px 10px ;

}

.top-nav .nav-menu .nav-item :hover {
  background: rgba(202, 48, 48, 0.814);

}




